//variabel
$blue-light: #508ac7;
$blue-dark: #1c4481;
$footer: #25272b;
//global
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    box-sizing: border-box;
    color: black;
    background-color: #fafafa;
}

button:hover {
    cursor: pointer;
}

li {
    list-style-type: none;
}

div,
p .h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding-right: 0;
    margin-bottom: 0;
}

hr {
    width: 30%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.row {
    margin: 0;
}

.btn-costum {
    padding: 0.8rem 0;
    padding-left: 1.2rem;
    padding-right: 2.5rem;
    background-color: #67c2b4;
    color: white;
    text-transform: uppercase;
    border-radius: 0.3rem;
    outline: none;
    border: none;
}

.roundedcost {
    border-radius: 1rem;
}

.bg-whitex {
    background-color: #fafafa;
}


/* navbar */

.pads {
    background-color: white;
    margin: 0;
}

.fa-fw {
    font-size: 1.4rem;
    color: $blue-light;
}

.navbar-icn {
    border: none;
    outline: none;
}

.navbarcollapze {
    z-index: 999999;
    position: fixed;
    width: 100vw;
    display: none;
    background-color: transparent;
    color: $blue-light;
    .svg-inline--fa {
        font-size: 1.2rem;
    }
    a {
        &:hover {
            color: blue;
        }
        color: $blue-light;
        text-decoration: none;
    }
}

.teest {
    width: 24rem;
    height: 100vh;
    background-color: white;
}

.fixed-topp {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.nav-item {
    text-transform: uppercase;
}

.costum-btn {
    position: relative;
}

.user-icon {
    position: absolute;
    right: 1.2rem;
    top: 0.2rem;
    color: white;
}

.btn-costum:hover {
    background-color: #2e7e73;
    text-decoration: none;
    color: white;
}

.navbar-elementbtnn {
    color: $blue-light;
    font-size: 1.4rem;
}


/* header */

.containerhakita {
    background-image: url(https://www.hakita.id/assets/img/main-hero-man2.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 40rem;
    background-position: left;
    background-size: cover;
    padding-bottom: 2rem;
    h1 {
        color: white;
        text-transform: uppercase;
        line-height: 1.4;
    }
    .btn-hakita {
        border: none;
        background-color: $blue-light;
        color: white;
        padding: 1rem 1.4rem;
        border-radius: 0.5rem;
    }
}


/* content */

.container-about {
    padding-top: 4rem !important;
    h3 {
        padding-bottom: 0.4rem;
        font-size: 1rem;
        font-weight: 500;
    }
    p {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.829);
    }
}

// product
#prods {
    margin-top: 4rem;
    h4 {
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: 500;
    }
    p {
        margin-top: 2rem;
    }
    .arrow-wrapper {
        position: relative;
        .arrow-icon {
            position: absolute;
            right: 0.8rem;
            font-size: 1.4rem;
        }
    }
}

//tabrakan
#tabrakan-info {
    background-image: url(https://www.hakita.id/assets/img/success-rate-min.jpg);
    color: white;
    h1 {
        .txt1 {
            text-transform: uppercase;
        }
        .txt2 {
            display: block;
            font-weight: normal;
        }
    }
}

// blog
.blog-content {
    .container {
        button.blog-btn {
            border: none;
            color: white;
            background-color: $blue-light;
            padding: 0.3rem;
            font-size: 0.8rem;
        }
        p {
            font-size: 0.9rem;
            padding: 0.8rem 0;
            .title {
                font-weight: 500;
            }
            .time-1 {
                margin-top: 0.4rem;
                display: block;
                color: grey;
            }
        }
        .read {
            font-size: 0.8rem;
            font-weight: 500;
            color: $blue-light;
        }
    }
}

//question section
.question {
    .containercostum {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        margin-bottom: 3rem;
        .cost-bg {
            background-color: $blue-dark;
            padding: 1rem;
            width: 4rem;
            height: 3.5rem;
            .svg-inline--fa {
                color: white;
            }
        }
        .text-qst {
            padding-top: 1rem;
            padding-bottom: 1rem;
            h1 {
                line-height: 1rem;
                font-weight: 700;
                font-size: 0.4rem;
            }
        }
    }
}

//footer
#footer {
    background-color: $footer;
    color: rgba(255, 255, 255, 0.644);
    h3 {
        font-size: 1rem;
        color: white;
    }
    p {
        padding-top: 1rem;
        font-size: 0.8rem;
    }
    .footer-last {
        padding: 1rem 0;
        background-color: #212324;
        border-top: thin solid rgba(156, 151, 151, 0.404);
        a {
            color: #999;
        }
        h3 {
            font-weight: none;
            font-size: 0.8rem;
        }
    }
}

//login page
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color: #999999;
}

.txt1 {
    font-size: 13px;
    padding-right: 0.5rem;
    color: #999999;
    display: inline-block;
}

.txt2 {
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
    p {
        padding-right: 0.5rem;
        margin-bottom: 0;
    }
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5px;
    background: $blue-light;
    .wrap-login {
        background-color: white;
        width: 60rem;
        border-radius: 1.2rem;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10rem 10rem;
    }
}

.login-pic {
    width: 50%;
    text-align: center;
}

.login-pic img {
    max-width: 100%;
}

.login-form {
    width: 290px;
}

.login100-form-title {
    font-size: 24px;
    color: black;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}

.wrap-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input-login {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: rgba(133, 132, 132, 0.247);
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.symbol-input {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 2.2rem;
    pointer-events: none;
    color: #666666;
    transition: all 0.4s;
}

.input-login:focus+.focus-input+.symbol-input {
    border: 1px solid rgba(0, 0, 0, 0.295);
    padding-left: 2rem;
}

.container-login-form-btn {
    width: 100%;
    flex-wrap: wrap;
    padding-top: 2rem;
    .login-form-btn {
        border: none;
        font-size: 0.9rem;
        line-height: 1.5;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        height: 3rem;
        border-radius: 25px;
        background-color: $blue-light;
        padding: 0 2.5rem;
        transition: all 0.4s;
        &:hover {
            background: $blue-dark;
        }
    }
}


/* mediaquery */

@media only screen and (max-width: 590px) {
    .pads,
    .containerhakita,
    .container-about {
        padding: 1rem 0;
        padding-right: 0.7rem;
    }
    .question {
        .containercostum {
            margin-top: 1.3rem;
        }
    }
    #footer {
        .footer-row {
            p {
                margin: 1rem 0;
            }
            margin-top: 1.3rem;
        }
        .footer-last {
            h3 {
                padding-top: 0.5rem;
            }
        }
        .testtt {
            text-align: center;
        }
    }
    .login-pic {
        display: none;
    }
}

@media only screen and (min-width: 590px) and (max-width: 959px) {
    .wrap-login {
        .login-pic {
            display: none;
        }
    }
}

@media only screen and (min-width: 766px) and (max-width: 959px) {
    .pads,
    .containerhakita,
    .container-about {
        padding: 1rem 1rem;
    }
    .navbarcollapze {
        display: none;
    }
    #footer {
        .testtt {
            text-align: center;
        }
    }
    .login-pic {
        display: none;
    }
}

@media only screen and (min-width: 959px) {
    .pads,
    .containerhakita,
    .container-about {
        padding: 1rem 7rem;
    }
    .navbarcollapze {
        display: none;
    }
}